<div class="todo-main-content">

  <h1 class="page-title">TO BE DONE</h1>

  <form #todoForm="ngForm" (ngSubmit)="createTodo(todoForm)" novalidate>
    <div class="form-group">
      
      <input type="text" class="form-control" id="title" aria-describedby="todo-title" required name="title"
        [(ngModel)]="newTodo.title" #title="ngModel" />

      <div *ngIf="title.errors && title.dirty" class="alert alert-danger">
        <div [hidden]="!title.errors.required">
          Required.
        </div>
      </div>

    </div>
  </form>

  <ul class="todo-list">
    <li *ngFor="let todo of todos" [class.completed]="todo.completed === true">
      
      <ng-template #nonEditingBlock>
        <div class="todo-row">
          <a class="todo-completed" (click)="toggleCompleted(todo)">
            <i class="material-icons toggle-completed-checkbox"></i>
          </a>
          <span class="todo-title">
            {{todo.title}}
          </span>
          <span class="todo-actions">
            <a (click)="editTodo(todo)">
              <i class="material-icons edit">edit</i>
            </a>
            <a (click)="deleteTodo(todo.id)">
              <i class="material-icons delete">delete</i>
            </a>
          </span>
        </div>
      </ng-template>

      <ng-template #editingBlock>
        <input class="edit-title" type="text" [(ngModel)]="editingTodo.title" required>
        <span class="edit-actions">
          <a (click)="updateTodo(editingTodo)">
            <i class="material-icons">done</i>
          </a>
          <a (click)="clearEditing()">
            <i class="material-icons">cancel</i>
          </a>
        </span>
      </ng-template>
     
      <div class="todo-edit" *ngIf="editing && editingTodo.id === todo.id; then editingBlock; else nonEditingBlock"></div>
    </li>
  </ul>
  <div class="no-todos" *ngIf="todos && todos.length == 0">
    <p>No Todos Found!</p>
  </div>
</div>